/* List Page */

.theme-tab {
  margin: 24px 0;
}

.tab-list {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
  cursor: pointer;
}

.tab-item {
  margin-right: 8px;
}

.tab-item > button {
  padding: 8px 16px;
  color: #84868d;
  border: 2px solid #2e2f31;
  border-radius: 24px;
  background-color: #000;
}

.tab-item > button:hover {
  border: 2px solid #84868d;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-item-active > button {
  color: #000;
  background-color: #fff;
}

.tab-item-active > button:hover {
  border: 2px solid #000;
}
